doctype html

//- --

html
	head

	//- --

	body
		div
			if !message
				h1 Lock Me Out

				//- --

				p Open, locks, Whoever knocks!

				//- --

				form(method="POST")
					input(type="text", name="user", autocomplete="off")
					input(type="password", name="pass", autocomplete="off")

					//- --

					input(type="submit")

				//- --

			else
				p=message

//- --
